<a href="https://colab.research.google.com/github/sidjohal/python_libraries/blob/main/nltk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

    This is my attempt at learning a tool that is primarily used after one has had experience in deep learning
    dataset = "https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset"

In [ ]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import os
for dirname, _, filenames in os.walk("/content/drive/MyDrive/Colab Notebooks/data/nlp_data"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/drive/MyDrive/Colab Notebooks/data/nlp_data/Fake.csv
/content/drive/MyDrive/Colab Notebooks/data/nlp_data/True.csv

In [ ]:
path = "/content/drive/MyDrive/Colab Notebooks/data/nlp_data/"

fake = pd.read_csv(path + "Fake.csv")
true = pd.read_csv(path + "True.csv")

raw = pd.concat([fake, true])

raw.shape

(44898, 4)

In [ ]:
raw.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [ ]:
raw.tail()

,title,text,subject,date
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

## 1. Punctuation

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def rem_punct(text):
    no_punct = [word for word in text if word not in string.punctuation]
    just_words = "".join(no_punct)
    return just_words

In [ ]:
news = raw.copy()
news['only words'] = news['title'].apply(lambda x:rem_punct(x))
#news['only words'] = rem_punct(news['title']) # this won't work
news.head()

,title,text,subject,date,only words
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",Donald Trump Sends Out Embarrassing New Year’...
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",Drunk Bragging Trump Staffer Started Russian ...
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",Sheriff David Clarke Becomes An Internet Joke...
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",Trump Is So Obsessed He Even Has Obama’s Name...
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",Pope Francis Just Called Out Donald Trump Dur...

## 2. Tokenization

In [ ]:
import re

In [ ]:
def tokenize(text):
    split = re.split("\W+", text) # Here, “\W+” splits on one or more non-word character
    return split

In [ ]:
news['only words split'] = news['only words'].apply(lambda x: tokenize(x.lower()))
#news.drop('only words split', axis=1, inplace=True)

In [ ]:
news.head()

,text,subject,date,only words,only words split
0,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",Donald Trump Sends Out Embarrassing New Year’...,"[, donald, trump, sends, out, embarrassing, ne..."
1,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",Drunk Bragging Trump Staffer Started Russian ...,"[, drunk, bragging, trump, staffer, started, r..."
2,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",Sheriff David Clarke Becomes An Internet Joke...,"[, sheriff, david, clarke, becomes, an, intern..."
3,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",Trump Is So Obsessed He Even Has Obama’s Name...,"[, trump, is, so, obsessed, he, even, has, oba..."
4,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",Pope Francis Just Called Out Donald Trump Dur...,"[, pope, francis, just, called, out, donald, t..."

## 3. Stopwords

    Stopwords do not contribute in identification
    nltk library is used for this

In [ ]:
from nltk import *

In [ ]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stopword = nltk.corpus.stopwords.words('english')
type(stopword)

list

In [ ]:
def rem_stopwords(text):
    final = [word for word in text if word not in stopword]
    return final

In [ ]:
news['refined'] = news['only words split'].apply(lambda x : rem_stopwords(x))

In [ ]:
news.loc[100,'refined']

100    [, watch, joe, biden, wrecked, trump, six, wor...
100    [senator, warren, hits, effort, politicize, us...
Name: refined, dtype: object